CHAIN="SIDRA"
CHAIN_ID=97453
NETWORK_ID=97453
SIDRACHAIN_RPC_URL="https://node.sidrachain.com"
INFO_URL="https://www.sidrachain.com"
EXPLORER_NAME="Sidra Chain Explorer"
EXPLORER_URL="https://ledger.sidrachain.com"
EXPLORER_STANDARD="EIP3091"
DEPLOYER_WALLET_PRIVATE_KEY="wallet_private_key" //need deployer private key